    body {
      background-color: #F3E9DD;
    }

    hr {
      border-style: none;
      border-top-style: dotted;
      border-top-color: #DAB88B;
      width: 15%;
      border-width: 4px;
    }

    h1 {
      color: #B7CADB
    }

    h3 {
      color: #B7CADB
    }
